<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">Naja</a>

      {{#if_logged_in}}

        {{#with_user}}

          <div class="pull-right">
            <ul class="nav">
              <li>
                <a href="/{{email}}">
                  <img class="img-rounded" height="24" width="24" src="{{#gravatar_small}}{{gravatar_id}}{{/gravatar_small}}"> {{#if name}}{{name}}{{else}}{{email}}{{/if}}
                </a>
              </li>
              <li><a href="/new"><i class="icon-plus-sign icon-white"></i> new exp</a></li>
              <li><a href="/settings"><i class="icon-cog icon-white"></i> settings</a></li>
              <li><a href="#" class="browserid-logout"><i class="icon-off icon-white"></i> logout</a></li>
            </ul>
          </div>

        {{/with_user}}

      {{else}}
          <button class="btn btn-primary pull-right browserid-login">Log in with BrowserID</button>
      {{/if_logged_in}}

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
