<h2>Users</h2>
<ul class="media-list">
  {{#each arrangedContent}}
    <li class="media">
      {{#linkTo 'user' this class="pull-left"}}{{gravatar-img this class="img-rounded"}}{{/linkTo}}
      <div class="media-body">
        <h4 class="media-heading">{{#linkTo 'user' this}}{{id}}{{/linkTo}}
        <h4><small>{{plural exps.length word=exp}}, {{plural nProfiles word=profile}}, {{plural nResults word=result}}</small></h4>
      </div>
    </li>
  {{/each}}
</ul>
