<div class="row-fluid">
  <div class="offset2 span2">
    <a href="#">{{gravatar-img this class="img-polaroid" size=212}}</a>
    <hr>
    {{plural exps.length word=experiment}}, {{plural nProfiles word=profile}}, {{plural nResults word=result}}
  </div>
  <div class="span6">
    <h1>{{id}}'s experiments</h1>

    <hr>

    <ul class="media-list">
      {{#each exps}}
      <li class="media">
        <a class="pull-left" href="#">{{exp-img this class="img-rounded"}}</a>
        <div class="media-body">
          <h4 class="media-heading">{{#linkTo 'user.exp' this}}{{name}}{{/linkTo}}</h4>
          <h4><small>{{plural nProfiles word=profile}}, {{plural nResults word=result}}</small></h4>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
